/* This is a CSS file */
@import url('https://fonts.googleapis.com/css?family=Roboto');

button{
  width: 35% !important;
  font-size: 22px;
  margin-top: 2%;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: #f7f7f7;
}

.resposta{
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  letter-spacing: 2px;
  font-weight: bold;
}

.espaco{
  margin: 50% 0; 
}

h3{
  font-size: 30px;
}